<div class="row">
  <div class="col-xxxl-12 col-md-12 col-sm-12 col-lg-12 col-xxl-12">
    <nb-card>
      <nb-card-header>Buy New Auto Insurance Poicy</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <div class="col-md-2 col-sm-12 col-xxl-2">
              <label for="firstname" class="label">Title</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="title"
                placeholder="Title"
              />
            </div>
            <div class="col-md-5 col-sm-12 col-xxl-5">
              <label for="firstname" class="label ">First name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="firstname"
                placeholder="First name"
              />
            </div>

            <div class="col-md-5 col-sm-12 col-xxl-5">
              <label for="lastname" class="label">Last name</label>
              <input
                type="text"
                nbInput
                fullWidth
                id="lastname"
                placeholder="Last name"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4 col-sm-12 col-xxl-4">
              <label for="phone_number" class="label">Phone number</label>
              <input type="tel" nbInput fullWidth id="phone_number" placeholder="Phone number">
            </div>

            <div class="col-md-4 col-sm-12 col-xxl-4">
              <label for="email" class="label">Email address</label>
              <input type="email" nbInput fullWidth id="email" placeholder="Email address">
              </div>

              <div class="col-md-4 col-sm-12 col-xxl-4">
                <label for="occupation" class="label">Occupation</label>
                <input type="occupation" nbInput fullWidth id="occupation" placeholder="occupation">
              </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 col-sm-12 col-xxl-6">
              <label for="address1" class="label">Address</label>
              <input type="text" nbInput fullWidth id="address1" placeholder="Address">
            </div>

            <div class="col-md-6 col-sm-12 col-xxl-6">
              <label for="address2" class="label">Address2</label>
              <input type="text" nbInput fullWidth id="address2" placeholder="Address 2">
              </div>
          </div>

          <div class="form-group row">
              <div class="col-md-6 col-sm-12 col-xxl-6">
                <label for="city" class="label">City</label>
                <input type="text" nbInput fullWidth id="city" placeholder="Address">
              </div>
  
              <div class="col-md-6 col-sm-12 col-xxl-6">
                <label for="state" class="label">State</label>
                <input type="text" nbInput fullWidth id="state" placeholder="Address 2">
                </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3 col-sm-6 col-xxl-3">
                <label for="model">Vehicle model</label>
                <input type="text" nbInput fullWidth id="model" placeholder="Vehicle model">
              </div>
              
              <div class="col-md-3 col-sm-6 col-xxl-3">
                  <label for="reg_no">Registration number</label>
                  <input type="text" nbInput fullWidth id="reg_no" placeholder="Registration Number">
                </div>
            </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
