<div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>
        <span>
          Auto Insurance
        </span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <span (click)="gotoAuto()">
          <nb-icon icon="file-outline" status="primary"></nb-icon>
          Create new
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="sync-outline" status="success"></nb-icon>
          Renew
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-text-outline" status="info"></nb-icon>
          My Policies
        </span>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

<div class="accordion-container mt-3 col-md-12 col-lg-12 col-xxxl-12">
  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>
        <span (click)="gotoLife()">
          Life Insurance
        </span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-outline" status="primary"></nb-icon>
          Create new
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="sync-outline" status="success"></nb-icon>
          Renew
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-text-outline" status="info"></nb-icon>
          My Policies
        </span>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

<div class="accordion-container mt-3 col-md-12 col-lg-12 col-xxxl-12">
  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>
        Health Insurance
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-outline" status="primary"></nb-icon>
          Create new
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="sync-outline" status="success"></nb-icon>
          Renew
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-text-outline" status="info"></nb-icon>
          My Policies
        </span>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>

<div class="accordion-container mt-3 col-md-12 col-lg-12 col-xxxl-12">
  <nb-accordion multi>
    <nb-accordion-item>
      <nb-accordion-item-header>
        Fire & Special Peril
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-outline" status="primary"></nb-icon>
          Create new
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="sync-outline" status="success"></nb-icon>
          Renew
        </span>
      </nb-accordion-item-body>
      <nb-accordion-item-body>
        <span>
          <nb-icon icon="file-text-outline" status="info"></nb-icon>
          My Policies
        </span>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
