<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">InsureMe</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsExampleDefault"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Shopping Cart</a>
      </li>

      <li class="nav-item">
        <a class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Log in</a>
      </li>
    </ul>
  </div>
</nav>
