<div class="row">
  <div class="col-md-12 col-xxl-12 col-lg-12 col-xxxl-12 col-sm-12">
    <!-- The first card showing the rating for the user -->
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xxl-4 col-lg-4">
        <nb-card>
          <nb-card-header>
            InsureMe Score
          </nb-card-header>
          <nb-card-body class="mx-auto my-auto">
            <div class="mx-auto my-auto">
              <circle-progress
                class="mx-auto my-auto"
                [percent]="35"
                [radius]="90"
              ></circle-progress>
            </div>
            <p class="mx-auto">Update InsureMe</p>
          </nb-card-body>
          <nb-card-footer></nb-card-footer>
        </nb-card>
      </div>

      <div class="col-md-8 col-lg-8 col-xxl-8 col-sm-12 col-xxxl-8">
        <nb-card>
          <nb-card-header>
            Profile Information
          </nb-card-header>
          <nb-card-body>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque
            repellat qui odio unde quo, reprehenderit repellendus earum,
            excepturi ex perferendis ducimus inventore molestiae! Neque eum
            similique reprehenderit laboriosam optio deserunt alias odit
            nesciunt labore itaque placeat, dolores quod tempore esse ipsa fuga
            illo sed reiciendis vero quia incidunt ab. Itaque illo vitae quae
            vero nostrum dignissimos harum ad, voluptatem provident voluptas
            quidem possimus ea, autem ut quasi tempore eaque veritatis porro
            doloremque enim perspiciatis laboriosam amet exercitationem
            excepturi. Voluptates nobis maxime numquam blanditiis ratione
            nostrum. Saepe quaerat, consequatur doloremque eum dignissimos dolor
            dolorum dicta, magnam repellendus iusto ab accusamus? Placeat?
          </nb-card-body>
          <nb-card-footer></nb-card-footer>
        </nb-card>
      </div>
    </div>
  </div>
</div>
