<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div> -->
<!-- 
<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div> -->
<!-- </div> -->

<div class="container">
  <h2>Welcome to InsureMe!</h2>
  <div class="col-xxl-12 col-md-12 col-xxxl-12 col-lg-12 col-sm-12">
    <!-- The row for the cards showing the insurance products available and information about them -->
    <div class="col-xxxl-6 col xxl-6 col-lg-6 col-sm-12">
      <div class="col-md-6 col-xxl-6 col-lg-6 col-sm-12">
        <!-- First card showing the  auto insurance and info-->
      </div>

      <div class="col-md-6 col-xxl-6 col-lg-6 col-sm-12">
        <!-- Second card showing the  health insurance and info-->
      </div>

      <div class="col-md-6 col-xxl-6 col-lg-6 col-sm-12">
        <!-- Third card showing the  life insurance and info-->
      </div>
    </div>

    <!-- The row for the long card showing facts about insurance -->
    <div class="col-xxxl-6 col xxl-6 col-lg-6 col-sm-12"></div>
  </div>
</div>
