<app-navbar></app-navbar>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos sed
  dolorum totam nobis quod eaque sint inventore vel minus velit optio, aliquam
  dicta voluptates deleniti labore, in delectus fugit molestiae libero minima
  dolore. Quae, voluptates, sapiente commodi modi magni eligendi fugit esse aut
  corrupti recusandae porro distinctio repellendus? Voluptatibus non cumque
  consequatur quasi. Enim assumenda odio nulla sapiente sint numquam quis?
  Officia ex perferendis quo animi nam optio tempora minima exercitationem sunt
  mollitia, deserunt iure ratione iusto, reiciendis quis illo dolorem
  accusantium! Sed dignissimos a fuga maxime nisi quis quos impedit eum dolor
  alias corporis aperiam, unde totam esse reiciendis.
</div>

<router-outlet></router-outlet>
